<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itp341.naruka.shatrujeet.finalprojectnarukashatrujeet">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/capture"
        android:label="@string/app"
        android:roundIcon="@mipmap/capture"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrganizeEvent" />
        <activity android:name=".CreateEvent" />
        <activity android:name=".FindEvents"></activity>
    </application>

</manifest>